@tailwind base;
@tailwind components;
@tailwind utilities;



.bg-chat-image::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(/images/background_chat_wallpaper.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(14px); */

  z-index: -1; 
}


.edu-au-vic-wa-nt-guides {
  font-family: "Edu AU VIC WA NT Guides", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  
}






.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}



.edu_ustralia_font {
  font-family: "Edu AU VIC WA NT Guides", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}



.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}



@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --tw-ring-color: 'transparent';
    border-color: 'transparent';

  }



  input:focus {
    outline: none;
  }
  

}





@layer components {








  .playwrite-ie {
    font-family: "Playwrite IE", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  .playwrite-de-grund {
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }



/* Add this to your CSS file or use styled-components */
/* CustomToast.css */
.Toastify__toast-container {
  font-family: 'Roboto', sans-serif; /* Use a clean font like Roboto */
}

.Toastify__toast--default {
  background: #ffffff; /* Background color similar to Google Calendar */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  padding: 12px 16px; /* Padding around the content */
  display: flex;
  align-items: center;
}

.Toastify__toast--default .Toastify__toast-body {
  font-size: 14px; /* Font size similar to Google Calendar */
}

.Toastify__toast--default .Toastify__toast-icon {
  margin-right: 12px; /* Space between icon and text */
}

.Toastify__toast--default .Toastify__close-button {
  color: #555555; /* Close button color */
}

.Toastify__toast--default .Toastify__close-button:hover {
  color: #000000; /* Close button color on hover */
}

  
  
  
  
  
  



  .myTextField .MuiOutlinedInput-input:focus{
    /* border: 2px solid rgb(230, 13, 13); */
    --tw-ring-color: 'transparent';
    border-color: 'transparent';

  }



  .poetsen-one-regular {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .handlee-regular {
    font-family: "Handlee", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .kalam-light {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
  }


  .bg-scroll {
    background-attachment: scroll;
  }
  
  .kalam-light2 {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
  }

  .shadows-into-light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .kalam-light {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
  }

  .edu-tas-beginner {
    font-family: "Edu TAS Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  .vidaloka-regular {
    font-family: "Vidaloka", serif;
    font-weight: 400;
    font-style: normal;
  }

  


  @media (min-width: 640px) {
   



    .bg-small-screens2::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      background-image: url(/images//green_reduce_reuse.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1; 
      filter: blur(14px);
    
    }






.bg-small-screens2::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url(/images//green_reduce_reuse.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; 
  filter: blur(14px);

}






.bg-passkey::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url(/public//images/quality_smiles12.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; 
  filter: blur(14px);

}






.bg-small-screens-reset::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url(/images/quality_smiles11.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; 
  filter: blur(24px);

}



.bg-small-screens::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  /* background-image: url(/images//reduce_reuse_recycle.png); */
  background-image: url(/images/quality_smiles_people.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(14px);

  z-index: -1; 
}
}



@media (min-width: 1280px) {
 



  .bg-small-screens2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url(/images//green_reduce_reuse.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; 
    filter: blur(14px);
  
  }



  .bg-small-screens3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    /* background-image: url(/images//reduce_reuse_recycle.png); */
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(14px);

    z-index: -1; 
  }




.bg-passkey::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url(/public//images/quality_smiles12.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; 
  filter: blur(14px);

}
}


@media not all and (min-width: 640px) {
 


  .bg-passkey::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url(/public//images/quality_smiles12.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; 
    filter: blur(14px);
  
  }




  .bg-small-screens::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    /* background-image: url(/images//reduce_reuse_recycle.png); */
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(14px);

    z-index: -1; 
  }


  .bg-small-screens2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    /* background-image: url(/images//green_reduce_reuse.png); */
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(14px);
  
    z-index: -1; 
  }
}




@media not all and (min-width: 768px) {
  

  .bg-small-screens2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url(/images//green_reduce_reuse.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; 
    filter: blur(14px);
  
  }



  .bg-passkey::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url(/public//images/quality_smiles12.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; 
    filter: blur(14px);
  
  }








.bg-small-screens::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  /* background-image: url(/images//reduce_reuse_recycle.png); */
  background-image: url(/images/quality_smiles_people.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; 
  filter: blur(14px);

}
 
.bg-small-screens2::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  /* background-image: url(/images//green_reduce_reuse.png); */
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(14px);

  z-index: -1; 
}




.bg-small-screens-reset::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url(/images/quality_smiles11.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; 
  filter: blur(24px);

}
}


@media (min-width: 1280px) {
  

  .bg-passkey::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url(/public//images/quality_smiles12.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; 
    filter: blur(14px);
  
  }








  .bg-small-screens::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url(/images/quality_smiles_people.jpeg);
    /* background-image: url(/images//reduce_reuse_recycle.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(20px);
    z-index: -1; 
  }




.bg-small-screens2::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url(/images//green_reduce_reuse.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; 
  filter: blur(14px);

}



.bg-small-screens-reset::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url(/images/quality_smiles11.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; 
  filter: blur(24px);

}
}



@media not all and (min-width: 768px) {





  .bg-passkey::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url(/public//images/quality_smiles12.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; 
    filter: blur(14px);
  
  }












  .bg-small-screens2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url(/images//green_reduce_reuse.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; 
    filter: blur(14px);

  }


  .bg-small-screens-reset::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url(/images/quality_smiles11.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; 
    filter: blur(24px);

  }
}



@media (min-width: 1024px) {




  .bg-passkey::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url(/images/quality_smiles12.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; 
    filter: blur(14px);
  
  }











  .bg-small-screens2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url(/images//green_reduce_reuse.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; 
    filter: blur(14px);

  }


  .bg-small-screens-reset::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url(/images/quality_smiles11.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; 
    filter: blur(24px);

  }
}

.caveat {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.leaflet-container{
  height: 500px;
}
.inconsolata {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.text-stroke{
  background-image: linear-gradient(180deg, rgb(207, 165, 57), rgb(207, 165, 57) );
  background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: calc(1em / 6);
  -webkit-background-clip: text;
}

input[type="email"]:focus {
  width: '100%'
}

.bg2{
  z-index: -1; 
  filter: blur(8px);

  content: '';
 
  background-image: url(/images/banner-four-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}




/*   
  .hero:hover {
    animation-play-state: paused;
  } */
  




  .kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .nanum-gothic-regular {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
  }
  
}


